:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 300px;
  background-image: URL("/assets/sidebar_background.jpg");
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
